<ul class="post-list">
  {{#each posts as |post|}}
    <li>
      <a class="post" href="/post/{{post.id}}">
        <div class="title">
          <p>{{post.title}}</p>
          <p>{{format_date post.createdAt}}</p>
        </div>
      </a>
    </li>
  {{/each}}
</ul>