<ul class="post-list">
  {{#each posts as |post|}}
    <li>
      <a class="post" href="/post/{{post.id}}">
        <div class="title">
          <p>{{post.title}}</p> 
          <p>Posted by {{user.username}} on {{format_date created_at}}</p>
        </div>
      </a>
    </li>
  {{/each}}
</ul>